<.table id="community" rows={@communities}>
<:col :let={community} label="Community Name"> <%= community.name%> </:col>
<:col :let={community} label="Location Area Zone"> <%= community.location_area_zone%> </:col>
</.table>