<div class="pb-6">
  <h1 class="text-center font-bold  text-lg">Last One Month Data</h1> 
  <canvas id="my-chart" phx-hook="AllWaste" data-waste_bags_of_all_communities={@waste_bags_of_all_communities}></canvas>
</div>

<div class="pt-6">
  <h1 class="text-center font-bold pb-6 text-lg">Top 5 communities that is producing waste</h1> 
  <canvas id="my-chart" phx-hook="TopFiveWaste" data-top_5_communities_produce_waste={@top_5_communities_produce_waste}></canvas>
</div>